.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
extension/test/**
extension/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
run.sh
docker-compose.yml
docs/**
node_modules/**
